.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modalWrapper {
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 16px;
    gap: 8px;
}

.inputWrapper {
    flex: 1 1 0%;
}

.label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.confirmButton {
    padding: 8px 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 56px;
    width: 128px;
    border: 1px solid #c25458;
    color: #c25458;
}

.grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}