.mainWrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(89.47deg, #424B5C 0.44%, #78818E 99.54%);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    max-height: 85%;
    box-sizing: border-box;
    background: linear-gradient(89.47deg, #9CA5B7 0.44%, #B9C9DF 99.54%);
    border-radius: 15px;
    margin: 0 5px 20px 20px;
    padding: 20px;
    overflow-y: auto; /* Ensure content is scrollable if it overflows */
}
