.form {
    width: 400px;
}

.formContent {
    padding: 2rem;
}

.inputGroup {
    margin-bottom: 1.5rem;
}

.inputGroup:last-of-type {
    margin-bottom: 3rem;
}

.label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    margin-bottom: 0.5rem;
}

.buttonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
