.wrapper {
    width: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 40px auto 20px;
    display: flex;
    padding-block: 60px;
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.contentWrapper {
    width: 100%;
}

.inputWrapper {
    margin-bottom: 20px;
}

.saveButton {
    padding: 8px 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 45px;
    width: 100%;
    border: 1px solid #c25458;
    color: #fff;
    background-color: #c25458;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    margin-top: 30px;
}

.saveButton:hover {
    background-color: #aa4649;
}